@import "tailwindcss";


/* 极客感网格背景 */
.bg-grid-pattern {
  background-size: 50px 50px;
  background-image:
          linear-gradient(to right, rgba(16, 185, 129, 0.3) 1px, transparent 1px),
          linear-gradient(to bottom, rgba(16, 185, 129, 0.3) 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle at center, black 40%, transparent 80%);
  transition: transform 0.2s ease-out;
  transform-style: preserve-3d;
}

/* 基础样式覆盖 */
@layer base {
  body {
    margin: 0;
    overflow: hidden; /* 保证巨大的 logo 动画不会撑出滚动条 */
    background-color: var(--color-slate-50); /* v4 支持直接使用内部变量 */
  }
}